# Archivos y carpetas de Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Archivos sensibles
*.tfvars
*.tfvars.json
*.key
*.pem

# Configuración local
*.iml
*.log
*.swp
*.bak
*.tmp
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux/macOS
.cache/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# ASP.NET
appsettings.*.json
launchSettings.json

# Rider
.idea/

# Logs
*.log

# Resharper
_ReSharper*/
*.DotSettings.user

# Visual Studio Code
.vscode/

# OS Files
Thumbs.db
desktop.ini
.DS_Store

# Swagger/NSwag (opcional, si generas código)
nswag.json
swagger.json
swagger.yaml

